<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <ul>
        {% for every in object_list  %}
        <li>
            <a href="{% url 'delete-user' id=every.id %}">
                ID: {{every.id}}<br>
                Name: <strong>{{ every.username }}</strong> <br>
                Email: {{ every.email }} <br>
            </a>
        </li>
        {% empty %}
        <li>Sorry, no user in this list.
        </li>
        {% endfor %}
    </ul>
</body>
</html>